<ion-header [class]="isAndroid? 'android-header' : ''">
  <ion-toolbar style="text-align: center; --background:#ffbc01;">
    <ion-title>Enter OTP to Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input type="tel" maxlength="4" placeholder="Enter OTP" id="siotp" (keyup)='checkotp()'></ion-input>

  <ion-button expand='full' id='submitotpbtn' (click)='submitotp()'>Submit</ion-button>

  <div *ngIf="resentactive==0" id='resendlink'>
    <font (click)='resendotp()'>Resend OTP</font>
  </div>
  <div *ngIf="resentactive!=0" id='resendlinkactivated'>
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <ion-fab vertical="bottom" horizontal="center" (click)='closeotp()'>
    <ion-fab-button style="--background:#ffbc01;">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>