#siotp{
    border:grey 1px solid;
    width:85%;
    margin:auto;
    margin-top:5%;
    text-align: center;
}

#submitotpbtn{

    width:85%;
    margin:auto;
    margin-top:5%;
    --background:#ffbc01;
}

#resendlink{
   text-align: center;
   width:85%;
   margin:auto;
   margin-top:5%;
color:rgb(27, 25, 25);
}

#resendlinkactivated{
    text-align: center;
    width:85%;
    margin:auto;
    margin-top:5%;
 color:rgb(61, 52, 52);
 }