ion-content{
    

    .terms_content{
        padding: 16px;

        h5{
            font-weight: 600;
            font-size: 16px;
        }

        p{
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #333;

        }

        ol{
            padding: 0;

            li{
                list-style-type: auto;
                font-size: 14px;
                font-weight: normal;
                color: #333;
                margin-bottom: 10px;
                list-style-position: inside;
            }
        }





    }
}


