<ion-content>
  <div class="terms_content">
    <p>This Terms and Conditions explain the nature and scope of the relation between You and the Company (hereinafter the
      following Terms and Conditions should be referred to as the "Standard Terms and Conditions")</p>
    
   <ol>
    <li>That, on receipt of a service request, the booking will be allotted to the driver on the device or in such manner
      as may be agreed between the parties, from time to time.</li>
    <li>That, upon a service request being allotted to the driver, the 1st party may provide to the customer, the full
      particulars of the vehicle, including the phone number of the driver, as required by the customer and the 1st party
      shall also provide the driver with the necessary information of the customer in order to enable the driver to
      satisfactorily provide the service. Such information shall be treated as confidential information.</li>
    <li>That, the driver shall service the customer in a courteous, effective, and timely manner.</li>
    <li>That, the driver shall ensure registration of vehicle at all times and shall hold and keep updated/renewed all
      licenses, insurance, and permits necessary for the use of the vehicle.</li>
    <li>That, the driver shall not allow unauthorized persons to drive the vehicle and also not to allow any stranger to
      board the vehicle during the service.</li>
    <li>That, the driver shall ensure the safety and security of the customers, his own self, and that of the vehicle at
      all times.</li>
    <li>That, the driver shall not undertake or assist in any unlawful or illegal activities while performing services.</li>
    <li>That, the driver shall not indulge in transportation or carrying of any illegal or contraband items in the
      vehicle while providing the service.</li>
    <li>That, on allotment of a booking in response to a service request, the driver shall ensure that the vehicle
      arrives prior to the pick-up time.</li>
    <li>That, the driver shall ensure that the customer pays the total ride free as well as additional surcharge and any
      fee presently payable.</li>
    <li>That, in the event any customer leaves his or her property in the vehicle, the same shall not be pilfered or
      tampered with by the driver.</li>
    <li>That, the driver shall also be role responsible for any physical and/ or mortal danger caused to the customer
      and also his role responsibility for any loss or damage to the vehicle caused by the customer or any other third
      party for any reason whatsoever.</li>
    <li>That, the driver shall not drive rashly, shall follow traffic regulations and all applicable laws during the
      performance of the services, wear seat bells, not consume liquor, cigarette, etc. while performing the service.</li>
    <li>That, the driver shall maintain relevant books, records, and accounts relating to the service provided by the
      driver and payments collected.</li>
    <li>That, the period of the agreement shall be for 2 (two) years term, which may be extended with the consent of the
      parties.</li>
    <li>That, this term of 2 years may also be terminated at any time, in case of any default or violation of the term
      and conditions of this agreement by the 2nd party with a notice of 5 days time by the 1st party to the 2nd party.</li>
    <li>The driver may go offline for any reason but the driver should be informed to the 1st party (Quick Cab Taxi
      Service Office), before going offline. They can’t go offline without any prior intimation.</li>
    <li>The driver needs to pay a commission percentage every Friday of each week for the period of the last 7 days
      (Friday to Thursday). If the payment is due then the 1st party (QuickCabTaxiService Management) may deactivate that
      driver without any intimation for a time being until the payment is received. The 1st party (Quick Cab Taxi Service)
      will activate again that driver upon receiving the payment.</li>
    <li>In any case there is a strike in the serviceable area of QuickCabTaxiService then on that specified date/dates
      the Driver is NOT allowed to take any booking for any location from any customers. The cab booking service is fully
      closed and restricted on that strike date or those dates. QuickCabTaxiService will NOT take any kind of
      responsibility for any kind of harassment/problem/unwanted situation appearing. The driver is completely responsible
      for that and if required the company QuickCabTaxiService may take action against that driver.</li>

   </ol>
    
  </div>
  <div style="text-align: center;">
    <ion-button (click)='closethis()'>
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
  </div>
</ion-content>