<ion-content style="--background:white;">
  <ion-img src='https://quickcabtaxiservice.com/storage/app/public/headerBg.png'></ion-img>
  <font id='maintitle'>
    <b>Forgot </b> <br> Password ?
  </font>

  <div id='maindiv'>

    <ion-item lines='none' class='creditems'>
      <ion-label>
        <ion-icon name='mail'></ion-icon>
      </ion-label>
      <ion-input type='email' autocomplete="false" id='demail' placeholder="Email" (keyup)='checkemail()'></ion-input>
    </ion-item>

    <ion-button expand="full" id='submitbtn' (click)='sendlinkbtn()'>Send Link</ion-button>



  </div>

  <ion-fab  horizontal="center" style="padding-top: 30px;">
    <ion-fab-button color="dark" (click)='gotosignin()'>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>