<ion-content>
  <ion-img src="https://quickcabtaxiservice.com/storage/app/public/headerBg.png"></ion-img>

  <div id='icondiv'>
    <ion-icon name="menu" (click)="menuon()"></ion-icon>
  </div>

  <div id='titlediv'>
    <b> Change </b><br> Password
  </div>

  <div id='containerdiv'>
    <ion-item lines='none' style="margin-top:5%;margin-bottom:5%;border:grey 1px solid;margin-left:5%;margin-right:5%;">
      <ion-icon name="key"></ion-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-input id='op' type="password" placeholder="Old Password" (keyup)='checkoldpassword()'></ion-input>
    </ion-item>
    <ion-item lines='none' style="margin-bottom:5%;border:grey 1px solid;margin-left:5%;margin-right:5%;">
      <ion-icon name="lock-closed"></ion-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-input id='np' [type]="hide ? 'password' : 'text'" placeholder="New Password" (keyup)='checknewpassword()'></ion-input>
      <ion-icon (click)="hide = !hide" name="{{hide ? 'eye-off' : 'eye'}}"></ion-icon>
    </ion-item>
    <ion-item lines='none' style="margin-bottom:5%;border:grey 1px solid;margin-left:5%;margin-right:5%;">
      <ion-icon name="document-lock"></ion-icon>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <ion-input id='cp' [type]="hide_confirm ? 'password' : 'text'" placeholder="Confirm  Password" (keyup)='checkconfirmpassword()'></ion-input>
      <ion-icon (click)="hide_confirm = !hide_confirm" name="{{hide_confirm ? 'eye-off' : 'eye'}}"></ion-icon>
    </ion-item>

    <ion-button expand="full" id='submitbtn' (click)='submitpassword()'>UPDATE PASSWORD</ion-button>

    <br><br>
    <h6> You need to Login again after update your password.</h6>
  </div>

</ion-content>

<!--<ion-fab  *ngIf='bookingcount > 0' vertical="bottom" horizontal="center" (click)='viewbookings()'>
  <ion-button style="height:40px;--background:#ffbc01;color:royalblue;font-weight: bold;">
    <ion-icon name='car'></ion-icon> &nbsp;&nbsp; {{bookingcount}}
  </ion-button>
</ion-fab>-->


<div  *ngIf='bookingcount > 0' class="booking_value_access">

  <div class="booking_value_inner">

    <h5>You have New {{bookingcount}} Booking</h5>   

  <ion-button (click)='viewbookings()' style="height:40px;--background:#ffbc01;color:royalblue;font-weight: bold;">
    View Booking&nbsp;<ion-icon name='car'></ion-icon>&nbsp;&nbsp; {{bookingcount}}
  </ion-button>

  </div>

</div>



<!--<audio *ngIf='bookingcount > 0' id='bgalert' controls autoplay loop style="display: none;">
  <source src="../../../assets/car_alarm.mp3" type="audio/mp3">
</audio>-->