ion-content{
    color:black;
    --background:white;
}
ion-item{
    --background:white;
}
#containerdiv ion-icon{
        color:#ffbc01;
}
ion-input{
    background-color: white;
    color:black;
}
#icondiv{
    position: absolute;
    top:1%;
    left:5%;
    font-size: 120%;
    padding-top: 26px;
}

#titlediv{
    position: absolute;
    top:09%;
    left: 5%;
    font-size: 230%;
  
}

#containerdiv{
    position: absolute;
    top: 30%;
    left:10%;
    width: 80%;
    height: 300px;
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    text-align: center;
}

#submitbtn{
    --background:#ffbc01;
    color:white;
    height: 50px;
    margin-left:5%;
    margin-right:5%;
}

.booking_value_access{
    margin-bottom: 20px;
    width: 100%;
    top: 50%;
    position: absolute;
}

.booking_value_inner{
    padding: 30px;
    background: #FDECD7;
    box-shadow: 0 0px 15px rgb(8 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 16px;
    max-width: 320px;
    margin: 0 auto;
    border-radius: 10px;
}


.booking_value_inner h5{
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px 0;
}