<ion-content style="--background:white">
  <ion-img src='https://quickcabtaxiservice.com/storage/app/public/headerBg.png'></ion-img>
  <font id='maintitle'>
    <b>
      Login with your
      <br>
      Registered Email
    </b>
  </font>

  <div id='maindiv'>

    <ion-item lines='none' class='creditems'>
      <ion-label>
        <ion-icon name='mail'></ion-icon>
      </ion-label>
      <ion-input type='text' [autocomplete]="false" id='demail' placeholder="Email" [(ngModel)]="demail" (keyup)='checkemail(demail)'></ion-input>
    </ion-item>

    <ion-item lines='none' class='creditems'>
      <ion-label>
        <ion-icon name='lock-closed'></ion-icon>
      </ion-label>
      <ion-input [type]="hide ? 'password' : 'text'" [autocomplete]="false" id='dpassword' placeholder="Password" [(ngModel)]="dpassword" (keyup)="checkpassword(dpassword)">
      </ion-input>
      <ion-icon (click)="hide = !hide" name="{{hide ? 'eye-off' : 'eye'}}"></ion-icon>
    </ion-item>



    <ion-button expand="full" id='submitbtn' (click)='gotohome(demail,dpassword)'>Login</ion-button>
    <br><br>
    <font (click)='openfp()' style="color:black;">Forgot Password ?</font>

    <font id='extratext'  >
      <span style="font-size: 85%;">Don’t have an account? </span> 
        <font (click)='gotosignup()' style="color:#1A1818;font-weight: bold;font-size: 100%;"><b>Sign Up</b></font>
      
    </font>

  </div>

  <!--<font id='extratext'>
    Don’t have an account? <b>
      <font (click)='gotosignup()'>Sign Up</font>
    </b>
  </font>-->
</ion-content>