#maindiv{
    position: absolute;
    top:30%;
    left:7.5%;
    width:85%;
    height: 350px;
    background-color: #ffffff;
    box-shadow: #e6e6e6 2px 2px 10px;
    border-bottom:grey 1px solid;
    padding:5%;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
}
#maintitle{
    font-size: 200%;
    position: absolute;
    top: 5%;
    left: 5%;
}
.creditems{
    border:#e4e4e4 1px solid;
}
ion-icon{
    color: #ffbc01; 
}
#submitbtn{
    --background: #ffbc01;
    color:white;
    height: 50px;
}
#extratext
{
    /*position: absolute;*/
    text-align: center;
    /*left: 30%;*/
    color: #1A1818;
    padding-top: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
ion-item{
    --background:#ffffff;
}
#demail,#dpassword{
    background-color: white;
    color:black;
}