<ion-header [class]="isAndroid? 'android-header' : ''">
  <ion-toolbar style="text-align: center; --background:#ffbc01;">
    <ion-row>
      <ion-col size="3" style="padding-top: 4%;padding-left:5%;text-align: left;">
        <ion-icon name="menu" (click)='menuon()'></ion-icon>
      </ion-col>
      <ion-col size="6" style="padding-top: 4%;text-align: center;" id='onoff'>Document Management</ion-col>
      <ion-col size="3" style="padding-top: 4%;padding-right:5%;text-align: right;">

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;--background:#ffffff;" *ngIf="present==false">
  <ion-img src='https://quickcabtaxiservice.com/storage/app/public/Docmgmt_header.png'
    style="width: 70%; position:relative;left:15%;"></ion-img>
  <div id='contentdiv'>
    <ion-item>
      <ion-row style="width: 100%;">
        <ion-col size="10">
          <ion-input type="text" placeholder="Driver License Number" autocapitalize="characters" id='license'
            (keyup)='checklicense()'></ion-input>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-icon name="card" style="font-size: 150%;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row style="width: 100%;background-color: #f2eaea;">
        <ion-col size="4"></ion-col>
        <ion-col size="4" style="text-align: center;">
          FRONT
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          <ion-icon name="trash-sharp" style="color:red" (click)='delfront()'></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row style="width: 100%;">
        <ion-col>
          <div style="width: 100%;height:120px;" id='divfront' *ngIf="frontfile==''">
            <ion-fab vertical="center" horizontal="center" style="box-shadow: none;" (click)='openchooserfront()'>
              <ion-fab-button color="light">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>
          <div id='divfront' style='text-align:center;' *ngIf="frontfile!=''">
            <img src='{{frontfile}}' width="100" height="100">
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row style="width: 100%;background-color: #f2eaea;">
        <ion-col size="4"></ion-col>
        <ion-col size="4" style="text-align: center;">
          BACK
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          <ion-icon name="trash-sharp" style="color:red" (click)='delback()'></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row style="width: 100%;">
        <ion-col>
          <div style="width: 100%;height:120px;" id='divback' *ngIf="backfile==''">
            <ion-fab vertical="center" horizontal="center" style="box-shadow: none;" (click)='openchooser()'>
              <ion-fab-button color="light">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>
          <div id='divback' style='text-align:center;' *ngIf="backfile!=''">
            <img src='{{backfile}}' width="100" height="100">
          </div>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-button style="--background:#ffbc01;color:#ffffff;height: 50px;width:95%;" (click)='savedocument()'>SUBMIT
    </ion-button>
  </div>
</ion-content>

<div id='optionchooser_doc'
  style="position: absolute;margin-bottom: 55px;left:5%;width:90%;background-color: #ffffff; display: none; box-shadow: grey 0px 0px 10px;">
  <ion-item style="width: 100%;text-align: center; --background: #ffbc01;margin-top:-2%" (click)='closechooser()'>
    <ion-icon name="close" style="font-size: 130%;"></ion-icon> &nbsp; &nbsp; &nbsp; &nbsp; Close
  </ion-item>
  <ion-item style="width: 100%;text-align: center;" (click)='opencamera()'>
    <ion-icon name="camera" style="font-size: 130%;"></ion-icon> &nbsp; &nbsp; &nbsp; &nbsp; CAMERA
  </ion-item>
  <ion-item style="width: 100%; text-align: center;" (click)='openfilemanager()'>
    <ion-icon name="documents" style="font-size: 130%;"></ion-icon> &nbsp; &nbsp; &nbsp; &nbsp; FILE MANAGER
  </ion-item>
</div>


<div id='optionchooserfront_doc'
  style="position: absolute;margin-bottom: 55px;left:5%;width:90%;background-color: #ffffff; display: none; box-shadow: black 1px 2px 30px;">
  <ion-item style="width: 100%;text-align: center; --background: #ffbc01;margin-top:-2%;" (click)='closechooserfront()'>
    <ion-icon name="close" style="font-size: 130%;"></ion-icon> &nbsp; &nbsp; &nbsp; &nbsp; Close
  </ion-item>
  <ion-item style="width: 100%;text-align: center;" (click)='opencamerafront()'>
    <ion-icon name="camera" style="font-size: 130%;"></ion-icon> &nbsp; &nbsp; &nbsp; &nbsp; CAMERA
  </ion-item>
  <ion-item style="width: 100%; text-align: center;" (click)='openfilemanagerfront()'>
    <ion-icon name="documents" style="font-size: 130%;"></ion-icon> &nbsp; &nbsp; &nbsp; &nbsp; FILE MANAGER
  </ion-item>
</div>


<ion-content style="text-align: center;--background:#ffffff;" *ngIf='present==true'>
  <ion-img src='https://quickcabtaxiservice.com/storage/app/public/Docmgmt_header.png'
    style="width: 70%; position:relative;left:15%;"></ion-img>
  <div id='contentdiv'>
    <ion-item>
      <ion-row style="width: 100%;">
        <ion-col size="10">
          <ion-input type="text" placeholder="Driver License Number" id='license' value="{{presentdata.license_no}}"
            readonly="readonly">
          </ion-input>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-icon name="card" style="font-size: 150%;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row style="width: 100%;background-color: #f2eaea;">
        <ion-col size="4"></ion-col>
        <ion-col size="4" style="text-align: center;">
          FRONT
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          <!-- <ion-icon name="trash-sharp" style="color:red" (click)='delfront()'></ion-icon> -->
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row style="width: 100%;">
        <ion-col>
          <div style="width: 100%;height:120px;text-align: center;" id='divfront' *ngIf="frontfile==''">
            <!-- <ion-fab vertical="center" horizontal="center" style="box-shadow: none;" (click)='openchooserfront()'>
              <ion-fab-button color="light">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab> -->
            <img src='{{presentdata.image_front}}' width="100" height="100">
          </div>
          <!-- <div id='divfront' style='text-align:center;' *ngIf="frontfile!=''">
            <img src='{{frontfile}}' width="100" height="100">
          </div> -->
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row style="width: 100%;background-color: #f2eaea;">
        <ion-col size="4"></ion-col>
        <ion-col size="4" style="text-align: center;">
          BACK
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          <!-- <ion-icon name="trash-sharp" style="color:red" (click)='delback()'></ion-icon> -->
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="none">
      <ion-row style="width: 100%;">
        <ion-col>
          <div style="width: 100%;height:120px; text-align: center;" id='divback' *ngIf="backfile==''">
            <!-- <ion-fab vertical="center" horizontal="center" style="box-shadow: none;" (click)='openchooser()'>
              <ion-fab-button color="light">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab> -->
            <img src='{{presentdata.image_back}}' width="100" height="100">
          </div>
          <!-- <div id='divback' style='text-align:center;' *ngIf="backfile!=''">
            <img src='{{backfile}}' width="100" height="100">
          </div> -->
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-button style="--background:#575551;color:#ffffff;height: 50px;width:95%;" (click)='savedocument()'
      [disabled]="true">
      SUBMIT
    </ion-button>
  </div>

</ion-content>

<!--<ion-fab *ngIf='bookingcount > 0' vertical="bottom" horizontal="center" (click)='viewbookings()'>
  <ion-button style="height:40px;--background:#ffbc01;color:royalblue;font-weight: bold;">
    <ion-icon name='car'></ion-icon> &nbsp;&nbsp; {{bookingcount}}
  </ion-button>
</ion-fab>-->

<div *ngIf='bookingcount > 0' class="booking_value_access">

  <div class="booking_value_inner">

    <h5>You have New {{bookingcount}} Booking</h5>
   

  <ion-button (click)='viewbookings()' style="height:40px;--background:#ffbc01;color:royalblue;font-weight: bold;">
    View Booking&nbsp;<ion-icon name='car'></ion-icon>&nbsp;&nbsp; {{bookingcount}}
  </ion-button>


  </div>


</div>

<!--<audio *ngIf='bookingcount > 0' controls autoplay loop style="display: none;">
  <source src="../../../assets/car_alarm.mp3" type="audio/mp3">
</audio>-->