<ion-content style="--background:white">
  <div id="map_canvas" style="display: none;"></div>
  <ion-img src="https://quickcabtaxiservice.com/storage/app/public/headerBg.png"></ion-img>
  <font id='maintitle'>
    <b>Sign-Up with Your <br> Email & Phone No.</b>
  </font>
  <div id='maindiv'>
    <ion-item lines='none' class='creditems'>
      <ion-label>
        <ion-icon name='person'></ion-icon>
      </ion-label>
      <ion-input type='text' clearInput="true" [autocomplete]="false" id='dname' placeholder="Name"
        (keyup)='checkname()'>
      </ion-input>
    </ion-item>
    <ion-item lines='none' class='creditems'>
      <ion-label>
        <ion-icon name='mail'></ion-icon>
      </ion-label>
      <ion-input type='text' clearInput="true" [autocomplete]="false" id='demail' placeholder="Email"
        (keyup)='checkemail()'></ion-input>
    </ion-item>
    <ion-item lines='none' class='creditems'>
      <ion-label>
        <ion-icon name='call'></ion-icon>
      </ion-label>
      <ion-input inputmode='tel' clearInput="true" [autocomplete]="false" maxlength="10" id='dphone'
        placeholder="Phone Number" (keyup)='checkphone()'></ion-input>
    </ion-item>
    <ion-item lines='none' class='creditems'>
      <ion-label>
        <ion-icon name='lock-closed'></ion-icon>
      </ion-label>
      <ion-input type='password' minlength="6" clearInput="true" [autocomplete]="false" id='dpassword'
        placeholder="Password" (keyup)='checkpassword()'>
      </ion-input>
    </ion-item>

    <ion-item lines="none" id="tncbox" class='creditems' style="font-size: 80%; background-color: white;">
      <ion-row>
        <ion-col size="1">
          <ion-checkbox id='checkterms' style="--background: white;color:black;border:black 1px solid;"></ion-checkbox>
        </ion-col>
        <ion-col style="font-size:85%; margin:auto;color:black" (click)='opentc()'>
          &nbsp;&nbsp;&nbsp;&nbsp;I Accept the <font style="color:#ffbc01">Terms & Conditions</font>
        </ion-col>
      </ion-row>

    </ion-item>

    <ion-button expand="full" id='submitbtn' (click)='submitSignup()'>Submit</ion-button>

    <font id='extratext'>
      Already have an account? <b>
        <font (click)='gotosignin()'>Sign In</font>
      </b>
    </font>
  </div>


</ion-content>

<div id="backdrop"></div>
<div id="updationdiv">
  <h4> New Update Available!</h4>
  <h6>Hey! We have released a new update. Kindly update the app for a smoother experience.</h6>
  <ion-button (click)="opengplay()">UPDATE NOW</ion-button>
</div>