#siotp{
    border:grey 1px solid;
    width:85%;
    margin:auto;
    margin-top:5%;
    text-align: center;
}

#submitotpbtn{

    width:85%;
    margin:auto;
    margin-top:5%;
    --background:#ffbc01;
}

#resendlink{
   text-align: center;
   width:85%;
   margin:auto;
   margin-top:5%;
color:rgb(54, 50, 50);
}
#resendlinkactivated{
    text-align: center;
    width:85%;
    margin:auto;
    margin-top:5%;
 color:rgb(36, 31, 31);
 }
 #siotp{
     background-color: white;
     color:black;
 }